<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MgloGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.diagnostics>
		<switches>
			<add name="BlamStudioSwitches" value="All" />
		</switches>
		<sharedListeners>
			<add name="TextTrace" type="System.Diagnostics.TextWriterTraceListener"
    initializeData="MegHalomaniac.log"
    />
			<add name="BetterTextTrace"
    type="KSoft.Debug.KSoftFileLogTraceListener, KSoft"
    Location="ExecutableDirectory"
    Append="false"
    DoNotIncludeEventId="true"
    />
		</sharedListeners>
		<sources>
			<!-- KSoft.dll -->
			<source name="KSoft" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.IO" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.LowLevel" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Reflection" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Text" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Util" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>

			<!-- KSoft.Blam.dll -->
			<source name="KSoft.Blam" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Blam.Blob" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Blam.Engine" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Blam.Games" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
			<source name="KSoft.Blam.RuntimeData" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>

			<!-- MegHalomaniac.exe -->
			<source name="MgloGui" switchName="BlamStudioSwitches">
				<listeners>
					<add name="BetterTextTrace" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true">
			<listeners>
				<add name="BetterTextTrace" />
			</listeners>
		</trace>
	</system.diagnostics>
	<userSettings>
		<MgloGui.Properties.Settings>
			<setting name="GvarDisassemblyOutputPath" serializeAs="String">
				<value />
			</setting>
			<setting name="GvarAssemblyOutputPath" serializeAs="String">
				<value />
			</setting>
			<setting name="SelectedGameBuild" serializeAs="String">
				<value>HaloReach_Xbox</value>
			</setting>
		</MgloGui.Properties.Settings>
	</userSettings>
</configuration>