<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <switches>
      <add name="BlamStudioSwitches" value="All" />
    </switches>
    <sharedListeners>
      <add name="TextTrace" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="PhxTool.log"
        />
      <add name="BetterTextTrace"
        type="KSoft.Debug.KSoftFileLogTraceListener, KSoft"
        Location="ExecutableDirectory"
        Append="false"
        DoNotIncludeEventId="true"
        />
    </sharedListeners>
    <sources>
      <!-- KSoft.dll -->
      <source name="KSoft" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.IO" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.LowLevel" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Reflection" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Text" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Util" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>

      <!-- KSoft.Blam.dll -->
      <source name="KSoft.Blam" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Blam.Blob" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Blam.Engine" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Blam.Games" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Blam.RuntimeData" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>

      <!-- BlamTool.exe -->
      <source name="PhxTool" switchName="BlamStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="BetterTextTrace" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>